.RelaxPage-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 40%;
    left: 48%;
    /*line-height: 8vh;*/  
    /*height: 100%;*/
    /*border: 1px solid #000;*/
    margin-top: -140px;
    margin-left: -73px;
    /*margin: auto;
    width: 1200px;*/ 
}

.RelaxPage-body Button {
    width: 100px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
}


#p {   
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    font-size: 3.3rem;
    width:50%;
    text-align:center;
    font-weight: 1000;
    color: gray;
}

.time {
    display: flex;
    flex-direction: row;
    text-align:center;
    align-items: center;
    margin-bottom: 30px;
}

.time Button {
    margin-left: 20px;
    margin-right: 20px;
}

.Current {
    font-size: 2rem;
    font-weight: 1000;
    /*color: green;*/
    margin-bottom: 0px;
}

.limit {
    font-size: 1.5rem;
    margin-left: 13px;
    margin-bottom: 0px;
}

.relaximg {
    margin-top: 5px;
    margin-bottom: 30px;
}